target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# 任意路径下的mvnw的文件
**/mvnw
**/mvnw.cmd

**/.mvn
**/target/

# 同级的.idea
.idea
